.profile-div{
    width: 50%;
    text-align: center;
    min-height: 25%;
    align-items: center;
    justify-content: center; 
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
